$color-red: #F94144;
$color-orange: #F3722C;
$color-orange-light: #F8961E;
$color-yellow: #F9C74F;
$color-green: #90BE6D;
$color-turquoise: #43AA8B;
$color-blue: #577590;

$color-white: #f7efef;
$color-grey: #5b5d5e;
